.bg {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #000;
    padding-inline: 1rem;

}

.bg-ele {
    width: 5rem;
    border-width: 2px;
    height: 5rem;
    rotate: 45deg;
    padding: 0.5rem;
    margin-block: 1rem;
    margin-inline: 1rem;
    transition: all 0.8s ease-in-out;
    opacity: 0.3;
}
