* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
}

.outer-section {
    display: flex;
    flex-direction: row;
}

.side-navbar {
    /* background-color: #fff; */
    height: 100vh;
    position: sticky;
    width: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-align: center;
    margin-block: 0.75rem;
    padding-inline: 0.25rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #efefef;
    transition: all 0.5s ease-out;
    border:1px solid transparent;

}

.nav-item:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
    
}

.main-section {
    width: 95vw;
    /* background-color: #0a0909; */
    background-color: transparent;
    color: #fff;
    overflow-x: hidden;
    height: 100vh;
    z-index: 3;

}

.home {
    display: flex;
    justify-content: space-around;
    height: 90%;
    background-color: transparent;

}

.home .starting-state {
    margin-top: 8rem;
    margin-left: 5rem;
}

.starting-state .start {
    font-size: 2rem;
}

.starting-state .name {
    font-size: 3rem;
    font-weight: normal;
    color: #07e1dd;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}

.starting-state .intro {
    font-size: 1.5rem;
}

.starting-state .see-more {
    padding-top: 3rem;
    padding-inline: 1rem;
    color: #ddddddd7;
    cursor: pointer;
}

.starting-state .see-more:hover {
    color: #ddd;
}

.porto-image {
    place-self: center;
    padding-left: 3rem;
}

.porto-image img {
    border-radius: 50%;
    filter: drop-shadow(0 0.25rem 0.25rem #dabebefb);
    
}

.ring {
    position: relative;
    top: -12rem;
    left: -4rem;
    width: 26rem;
    height: 10rem;
    border: 4px solid #616060;
    /* fd2b2b */
    border-radius: 50%;
    rotate: -30deg;
    border-top: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 4px;
}

.heading{
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    padding-block: 1rem;
}
.heading .line{
    border: 2px solid #fff;
    width: 5rem;
}
.heading>span{
    margin-inline: 1rem;
    font-family:'Times New Roman', Times, serif;
}
.heading span span{
    color: #00ffff;
}