.bg {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #000;
    padding-inline: 1rem;

}

.bg-ele {
    width: 5rem;
    border-width: 2px;
    height: 5rem;
    border-radius: 50%;
    padding: 0.5rem;
    margin-block: 0.5rem;
    margin-inline: 0.5rem;
    filter: blur(10px);
    transition: all 0.5s ease-in-out;
    opacity: 0.2;
}

.bg-ele:hover {
    background-color: #fff;
}